.recruiters{
    text-align: center;
    color: hsl(22, 31%, 52%);
}

.recruiter-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    
    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

img{
    width: 100px;
    object-fit: contain;
}